.git
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
node_modules
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
vendor
